#waybar {
  background-color: #01b5b2;
  font-family: monospace;
  font-size: 14px;
  color: #F5E8E1;
}

clock {
    color: #e7668b;  /* pink */
    font-weight: bold;
    border: #d646e3;
  }

#cpu{
    padding: 10px;
}
#memory{
    padding: 10px;  
}
#temperature{
    padding: 10px;
}
#mpris{
    padding: 10px
}
#custom-colorpicker{
    padding: 10px;
}
#custom-screenshot{
    padding: 10px;
}